{{ "<!-- Dates Section -->" | safeHTML }}
<section id="dates" class={{ if .Site.Params.dates.bg }} "bar background-gray no-mb"
    {{ else if .Site.Params.dates.pattern }} "bar background-pentagon no-mb" 
	{{ else if .Site.Params.dates.photo1 }} "bar background-image-fixed-1" 
	{{ else if .Site.Params.dates.photo2 }} "bar background-image-fixed-2" 
    {{ else }} "bar background-white no-mb" {{ end }}>
	<div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ if isset .Site.Params.about "title" }}
                <div class="heading text-center">
                    <h2>{{ .Site.Params.about.title }}</h2>
                </div>
                {{ end }}
                {{ if isset .Site.Params.about "subtitle" }}
                <div class="heading text-center">
                    <h3>{{ .Site.Params.about.subtitle }}</h3>
                </div>
                {{ end }}
            </div>
        </div>
        {{ .Site.Params.about.text | markdownify}}
    </div>
</section>