{{ "<!-- Dates Section -->" | safeHTML }}
<section id="dates">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">{{ with .Site.Params.dates.title }}{{ . | markdownify }}{{ end }}</h2>
				<h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.dates.subtitle }}{{ . | markdownify }}{{ end }}</h3>
			</div>
        </div>
        <table class="table table-hover">
            <thead>
                <th>Date</th>
                <th>Event</th>
            </thead>
            <tbody>
                {{ $url := "/csv/dates.csv" }}
                {{ $sep := "," }}
                {{ range $i, $r := getCSV $sep $url }}
        
                <tr>
                    <td>{{ index $r 0 }}</td>
                    <td>{{ index $r 1 }}</td>
                </tr>
        
                {{ end }}
            </tbody>
        </table>
    </div>
</section>