{{ "<!-- Dates Section -->" | safeHTML }}
<section id="dates" class={{ if .Site.Params.dates.bg }} "bar background-gray no-mb"
    {{ else if .Site.Params.dates.pattern }} "bar background-pentagon no-mb" 
    {{ else }} "bar background-white no-mb" {{ end }}>
	<div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ if isset .Site.Params.dates "title" }}
                <div class="heading text-center">
                    <h2>{{ .Site.Params.dates.title }}</h2>
                </div>
                {{ end }}
                {{ if isset .Site.Params.dates "subtitle" }}
                <div class="heading text-center">
                    <h3>{{ .Site.Params.dates.subtitle }}</h3>
                </div>
                {{ end }}
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <th>Date</th>
                <th>Event</th>
            </thead>
            <tbody>
                {{ $url := "/csv/dates.csv" }}
                {{ $sep := "," }}
                {{ range $i, $r := getCSV $sep $url }}
        
                <tr>
                    <td>{{ index $r 0 }}</td>
                    <td>{{ index $r 1 }}</td>
                </tr>
        
                {{ end }}
            </tbody>
        </table>
    </div>
</section>