{{ "<!-- Organising Section -->" | safeHTML }}
<section id="organising" class={{ if .Site.Params.organising.bg }} "bar background-gray no-mb"
	{{ else if .Site.Params.organising.pattern }} "bar background-pentagon no-mb" 
	{{ else if .Site.Params.organising.photo1 }} "bar background-image-fixed-1" 
	{{ else if .Site.Params.organising.photo2 }} "bar background-image-fixed-2" 
	{{ else }} "bar background-white no-mb" {{ end }}>
	<div class="container">
		<div class="row">
            <div class="col-md-12">
				{{ if isset .Site.Params.organising "title" }}
				<div class="heading text-center">
					<h2>{{ .Site.Params.organising.title }}</h2>
				</div>
				{{ end }}
				{{ if isset .Site.Params.organising "subtitle" }}
				<div class="heading text-center">
					<h3>{{ .Site.Params.organising.subtitle }}</h3>
				</div>
				{{ end }}
            </div>
        </div>
		<div class="row flexbox{{ if .Site.Params.organising.center }} flexbox-center{{ end }}">
			{{ range .Site.Params.organising.members }}
			<div class="col-sm-2 col">
				<div class="team-member">
					{{ $url := printf "img/organising/%s" .img }}
					<img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .name }}">
					<h3>{{ .name | markdownify }}</h3>

					{{ with .position }}
					<h4>{{ . | markdownify }}</h4>
					{{ end }}
					{{ with .reportsTo }}
					<h5 class="report">Reports to {{ . | markdownify }}</h5>
					{{ end }}

					{{ with .livesIn }}
					<h5>Lives in {{ . | markdownify }}</h5>
					{{ end }}

					{{ with .scope }}
					<ul>
						{{ range . }}
						<li>{{ . | markdownify }}</li>
						{{ end }}
					</ul>
					{{ end }}

					<ul class="list-inline social-buttons">
						{{ range .social }}
						<li><a href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a></li>
						{{ end }}
					</ul>

					{{ with .bio }}
					<p class="team-bio">{{ . | markdownify }}</p>
					{{ end }}

				</div>
			</div>
			{{ end }}
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p class="large text-muted">{{ with .Site.Params.organising.description }}{{ . | markdownify }}{{ end }}</p>
			</div>
		</div>
	</div>
</section>