<div class="container" id="register">

    {{ if .Site.Params.participation.tickets_enable }}
        <div class="row">
            <div class="col-md-12">
                <section>
                    <p class="text-center">
                        <a href="{{ .Site.Params.participation.tickets_link }}" class="btn btn-template-main">{{ .Site.Params.participation.tickets_text }}</a>
                    </p>
                </section>
            </div>
        </div>
        <!-- /.tickets -->
    {{ end }}

    {{ if .Site.Params.participation.cfp_enable }}
        <div class="row">
            <div class="col-md-12">
                <section>
                    <p class="text-center">
                        <a href="{{ .Site.Params.participation.cfp_link }}" class="btn btn-template-main">{{ .Site.Params.participation.cfp_text }}</a>
                    </p>
                </section>
            </div>
        </div>
        <!-- /.call for papers -->
    {{ end }}

    {{ .Content }}
</div>