<div class="container" id="register">
    <div class="row">
        <div class="col-md-12">
            <section>
                <p class="text-center">
                    <a href="{{ .Site.Params.participation.registration_link }}" class="btn btn-template-main">{{ .Site.Params.participation.registration_text }}</a>
                </p>

                <p class="text-center">
                    this is in a parital
                </p>
                
                {{ .Content }}

            </section>
        </div>
    </div>
</div>