{{ if isset .Site.Params "sponsors" }}
{{ if .Site.Params.sponsors.enable }}
{{ if gt (len .Site.Data.sponsors) 0 }}
<section id="sponsors" class={{ if .Site.Params.sponsors.bg}} "bar background-gray no-mb" {{ else }} "bar background-white no-mb" {{ end }}>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading text-center">
					<h2>{{ .Site.Params.sponsors.title }}</h2>
				</div>

				<p class="lead">
					{{ .Site.Params.sponsors.tier1 }}
				</p>

				<ul class="owl-carousel customers">
					{{ range .Site.Data.sponsors.tier1 }}
					<li class="item" title="{{ .name }}">
						{{ if .url }}
						<a href="{{ .url }}" target="_blank">
							<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
						</a>
						{{ else }}
							<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
						{{ end }}
					</li>
					{{ end }}
				</ul>
				<!-- /.owl-carousel1 -->

				<p class="lead">
					{{ .Site.Params.sponsors.tier2 }}
				</p>

				<ul class="owl-carousel customers">
					{{ range .Site.Data.sponsors.tier2 }}
					<li class="item" title="{{ .name }}">
						{{ if .url }}
						<a href="{{ .url }}" target="_blank">
							<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="80%" />
						</a>
						{{ else }}
						<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="80%" />
						{{ end }}
					</li>
					{{ end }}
				</ul>
				<!-- /.owl-carousel2 -->

				<p class="lead">
					{{ .Site.Params.sponsors.tier3 }}
				</p>

				<ul class="owl-carousel customers">
					{{ range .Site.Data.sponsors.tier3 }}
					<li class="item" title="{{ .name }}">
						{{ if .url }}
						<a href="{{ .url }}" target="_blank">
							<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="60%" />
						</a>
						{{ else }}
						<img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" width="60%" />
						{{ end }}
					</li>
					{{ end }}
				</ul>
				<!-- /.owl-carousel3 -->

			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
{{ end }}